<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/win"
        android:label="@string/app_name"
        android:roundIcon="@drawable/win"
        android:supportsRtl="true"
        android:theme="@style/Theme._1ProjectFix"
        tools:targetApi="31">
        <activity
            android:name=".DownloadRekap"
            android:exported="false" />
        <activity
            android:name=".KonfirmasiData"
            android:exported="false" />
        <activity
            android:name=".daftar.DownloadData"
            android:exported="false" />
        <activity
            android:name=".daftar.DownloadDataBulk"
            android:exported="false" />
        <activity
            android:name=".daftar.RekapData"
            android:exported="false" />
        <activity
            android:name=".daftar.KonfirmasiDetails"
            android:exported="false" />
        <activity
            android:name=".daftar.Konfirmasi"
            android:exported="false" />
        <activity
            android:name=".daftar.DetailMurid"
            android:exported="false" />
        <activity
            android:name=".TambahFoto"
            android:exported="false" />
        <activity
            android:name=".daftar.DaftarKegiatan"
            android:exported="false" />
        <activity
            android:name=".daftar.DaftarMurid"
            android:exported="false" />
        <activity
            android:name=".absensi_kehadiran.InputAbsen"
            android:exported="false" />
        <activity
            android:name=".InputKegiatan"
            android:exported="false" />
        <activity
            android:name=".user.EditProfil"
            android:exported="false" />
        <activity
            android:name=".user.Profil"
            android:exported="false" />
        <activity
            android:name=".user.Logo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.Login" />
        <activity android:name=".user.Daftar" />
        <activity android:name=".tampilan_awal.Dashboard" />
        <activity android:name=".Terbaik" />
        <activity android:name=".Prestasi" />
        <activity android:name=".pendaftaran.Tambah" />
        <activity android:name=".pendaftaran.KelasPrestasi" />
        <activity android:name=".pendaftaran.KelasKhusus" />
        <activity android:name=".pendaftaran.KelasReguler" />
        <activity android:name=".daftar.DaftarPelatih" />
        <activity android:name=".absensi_kehadiran.Absen" />
        <activity android:name=".absensi_kehadiran.AbsenKehadiran" />
    </application>

</manifest>